<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thermal Camera Stream</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <script src="{{ url_for('static', filename='js/button.js')}}"></script>
    </head>
    <body>
        <header>
            <img id="header" src="{{ url_for('static', filename='img/header.png')}}" alt="teamlogo" class="header">
        </header>
        
        <div class="container">
            <div class="feed">
                <img src="{{ url_for('static', filename='img/live.png')}}" alt="live" height="50" width="100"/>
                <img src="{{ url_for('video_feed') }}" alt="Feed" height="300" width="300"/>
            </div>

            <div id="imageContainer">
                <div id="imageTitle">No photo selected</div>
                <img id="displayedImage" style="display: none;" />
                <button id="removeButton" style="display: none;">Remove</button>
                <div id="imageLinks"></div>
            </div>
        </div>
    </body>
</html>
